
* {
     -moz-box-sizing: border-box; /* Firexfox */
     -webkit-box-sizing: border-box; /* Safari/Chrome/iOS/Android */
     box-sizing: border-box; /* IE */
}

.clear {
	clear: both;
}

.grey{
    color: grey;
}

.no_margin {
    margin: 0 auto 0 auto
}


body {
    background: url(../images/notebook.png);
    font-family: 'Lato', sans-serif;
    line-height: 1.7; /* line-height is unit-less */
    font-size: 100%;
}

a{
    color: darkorange;
    text-decoration: none;
}

blockquote {
    background: #f9f9f9;
    border-left: 10px solid #ccc;
    margin: 1.5em 10px;
    padding: 0.5em 10px;
    quotes: "\201C""\201D""\2018""\2019";
}

blockquote:before {
    color: #ccc;
    content: open-quote;
    font-size: 4em;
    line-height: 0.1em;
    margin-right: 0.25em;
    vertical-align: -0.4em;
}

blockquote p {
    display: inline;
}

h1 {
    font-size: 50px;
    letter-spacing: -2.5px
}

h2 {
    font-size: 30px;
    margin: 50px auto auto auto;
}

#container {
    max-width: 1000px;
    margin: 0 auto;
}

#header{
    margin:30px auto 30px auto;
}

#main{
    background: white;
    max-width: 700px;
    float: left;
    padding:30px;
}

#sidebar {
    padding: 16px;
    background: white;
    max-width: 300px;
    float: left;
}

#chris_image{
    border-radius: 100px;
}

#footer{
    text-align: center;
}







